SALES_DIR=data/raw

MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=annapurna
MINIO_SECRET_KEY=annapurna-local-123
MINIO_BUCKET=annapurna-sales

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=annapurna
POSTGRES_USER=annapurna
POSTGRES_PASSWORD=annapurna-local-123